<!--<div *ngFor="let x of teststrings">
    <div>{{x}}</div>
</div>-->

<div *ngIf="Transactions?.length > 0">
    <div *ngFor="let p of Transactions | inverter">
        <div *ngIf="p.isCredit == true">
            <div *ngIf="!p.isPending">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div *ngIf="p.paymentTypeName != ''">
                            <b>({{p.paymentTypeName}}) - {{p.Name}}</b> <br>
                            <i>{{p.Date | date : 'medium' : 'enGb'}}</i>
                        </div>
                        <div *ngIf="p.paymentTypeName == ''">
                            <b>{{p.Name}}</b><br>
                            <i>{{p.Date | date : 'medium' : 'enGb'}}</i>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{p.Amount | currency:'GBP':1.2-2}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="p.isCredit == false">
            <div *ngIf="!p.isPending">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div *ngIf="p.paymentTypeName != ''">
                            <b>({{p.paymentTypeName}}) - {{p.Name}}</b> <br>
                            <i>{{p.Date | date : 'medium' : 'enGb'}}</i>
                        </div>
                        <div *ngIf="p.paymentTypeName == ''">
                            <b>{{p.Name}}</b> <br>
                            <i>{{p.Date | date : 'medium' : 'enGb'}}</i>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{p.Amount | currency:'GBP':1.2-2}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>