<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading" style="padding-bottom: 100px;">
            <b>{{account.AccountName}}</b><br>
            <i>Currently available: {{account.TotalFunds | currency:'GBP':1.2-2}}</i>
            <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="PaymentTypes">Payment Type</label>
                            <select formControlName="SelPaymentType" id="SelPaymentType" #paymentType [value]="adhoc">
                                    <option [value]="adhoc">Adhoc</option>
                                    <option *ngFor="let type of paymentTypes" [value]="type.Name">
                                    {{type.Name}}
                                    </option>
                            </select>
                            <div *ngIf="paymentType.value != 'adhoc'">
                                <label for="PaymentName">Name</label>
                                <input type="text" id="name" class="form-control" formControlName="PaymentName">
                            </div>
                            <label for="Amount">Amount</label>
                            <input type="text" id="amount" class="form-control" formControlName="Amount">
                        </div>
                    </div>
                </div>
                <button type="submit" style="float:right; display:inline;" class="btn btn-success" [disabled]="!paymentForm.valid">Pay!</button>
            </form>
        </div>
        <div class="panel-body" *ngIf="account.Outgoings!=null">
            <div class="panel panel-danger" *ngFor="let p of account.Outgoings">
                <div *ngIf="p.paymentTypeName != null" class="panel-heading">
                    ({{p.paymentTypeName}}) - {{p.Name}}
                </div>
                <div *ngIf="p.paymentTypeName == null" class="panel-heading">
                    {{p.Name}}
                    <i style="display:inline; float: right;">{{p.Date | date}}</i>
                </div>
                <div class="panel-body">
                    {{p.Amount | currency:'GBP':1.2-2}}
                </div>
            </div>
        </div>
    </div>
</div>