<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <li class="navbar-toggle collapsed dropdown pull-left" bbDropdown data-toggle="collapse" style="display:inline; left:0; margin-left: 5px;">
                <span class="sr-only">Toggle navigation</span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>-->
                <img src='./bunnypng.png' alt=" bunny ">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>-->
                <ul class="dropdown-menu">
                    <li *ngIf="userService.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
                    <li *ngIf="userService.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/accounts']">My Accounts</a></li>
                    <li *ngIf="userService.isAuthenticated()" routerLinkActive="active"><a [routerLink]="['/paymentTypes']">My Payment Types</a></li>
                    <li *ngIf="userService.isAuthenticated()" role="separator" class="divider"></li>

                    <li *ngIf="!userService.isAuthenticated()"><a [routerLink]="['/signin']">Sign in</a></li>
                    <li *ngIf="!userService.isAuthenticated()"><a [routerLink]="['/signup']">Sign up</a></li>

                    <li *ngIf="userService.isAuthenticated()" class="dropdown-header" (click)="onLogOut()">Log out</li>
                </ul>
            </li>
            <!--<li class="navbar-toggle collapsed" style="display:inline; left:0;">
                
            </li>-->
            <!--<a class="navbar-brand" href="#">Bunny Budgeter</a>-->
            <h3>Bunny Budgeter</h3>
        </div>

        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>