/* You can add global styles to this file, and also import other style files */

.panel-primary {
    background-color: #337ab7;
    color: white;
}

.panel-danger {
    background-color: #ebccd1;
    color: #a94442;
}